/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* CUSTOM STYLES */

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  background: #000100;
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
  margin: 0;
  text-align: center;
}

h1, h2, .page-title p, a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.page-title {
  color: #000100;
}

h1 {
  font-size: 3.75rem;
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 15px;
  position: relative;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 15px;
}

.page-title p {
  font-size: 1.75rem;
  font-weight: 200;
  padding-bottom: 35px;
  position: relative;
}

main p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 15px;
  text-align: left;
}

img {
  position: absolute;
  width: 50%;
  z-index: 0;
  background-
}

.img-flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  left: 0;
}

.img-normal {
  right: 0;
}

a {
  color: #fff;
}

a:hover {
  color: #ddd;
}

header {
  background: #fff;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.page-title {
  margin: 0 30%;
}

main {
  margin: 10px;
  margin-top: 25px;
}

section {
  margin: 15px;
  padding: 25px 35px 10px 35px;
  border-radius: 10px;
  border: 2px solid white;
  flex-basis: 300px;
}

footer {
  padding: 25px 10px 45px 10px;
}

footer li {
  margin: 0 15px;
}
